apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-nginx
  annotations:
    expose: "true"
    expose/type: "ingress"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-nginx
  template:
    metadata:
      labels:
        app: demo-nginx
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
